[[language]]
name = "nix"
formatter = { command = "nixfmt" }
auto-format = true

[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[language-server.ltex-ls]
command = "ltex-ls"

[language-server.ltex-ls.config]
ltex.enabled = ["context", "html", "markdown", "restructuredtext", "rust", "git-commit", "git-rebase"]

[[language]]
text-width = 100
name = "rust"
# spell checking in Rust on master
language-servers = [ "rust-analyzer", "harper-ls" ]

# [language.config]
# rust-analyzer.diagnostics.disabled = ["mismatched-arg-count", "macro-error", "unresolved-proc-macro"]

[[language]]
name = "git-commit"
language-servers = [ "harper-ls" ]


[[language]]
name = "markdown"
text-width = 100
language-servers = [ "markdown-oxide", "harper-ls" ]
formatter = { command = 'prettier', args = [
  "--parser",
  "markdown",
  "--prose-wrap",
  "always",        # <always|never|preserve>
] }
comment-tokens = ["-", "+", "*", "- [ ]", ">"]

[[language]]
name = "typst"
auto-format = true
formatter.command = "typstyle"
# spell checking
language-servers = [ "tinymist", "harper-ls" ]
